
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/newalbum.css">
        <title>PaparazzoPro: <%= studio.name %> - Create A New Album</title>
        <% include partials/links %>
    </head>
    <body>
        
        <% include partials/navbar %>
        
        <div class="container">
        <h1><strong>Create A New Album</strong></h1>
        <br>
        <form action="/users/<%= studio._id %>/albums" method="POST">
            <fieldset>
                <legend>Event Name</legend>
                <input type="text" name="newalbum[name]" placeholder="event name">
                <br><br>
                <legend>Event Date</legend>
                <input name="newalbum[date]" type="date">
                <br><br>
                <legend>Venue</legend>
                <input type="text" name="newalbum[venue]" placeholder="venue">
                <br><br>
<!--
                <legend>Select All The Images To Be Uploaded</legend>
                <input type="file" multiple>
-->
                <!-- <br><br>
                <legend>Cover Photo URL</legend>
                <input type="text" name="cover" placeholder="image url"> -->
                <!-- <input type="file" name="myImage"> -->
            </fieldset>
            <br>
            <button type="submit" class="btn btn-lg btn-success">Create Album</button>
        </form>
        </div>
        <br>

        <% include partials/footer %>


