#brand {
  font-family: 'Pacifico';
  font-size: 150%;
  color: white;
  text-shadow: 1px 1px 2px black;
}

body {
  font-family: "merriweather";
  text-shadow: #CCC 1px 0 10px;
  color: #333333;
}

#mdPhoto {
	width: 200px;
	height: 200px;
}